# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
True

True

In [2]:
type(True)

bool

In [13]:
name='Bishal4'

In [14]:
name.isalnum()

True

In [15]:
name.isalpha()

False

In [19]:
name.istitle()#Return True if the string is a title-cased string, False otherwise.

True

In [20]:
name.isdigit()#Return True if the string is a digit string, False otherwise.

False

In [21]:
name.isupper()

False

In [23]:
l='python'
l.islower()

True

In [25]:
b='bishal shrestha'
b.isspace()

False

In [26]:
l='python'

In [33]:
l.endswith('n')

True

In [32]:
l.startswith('p')

True

## boolean algebra

In [34]:
True or False

True

In [35]:
True and False

False

In [39]:
b='bishal'
n='123'

In [41]:
b.isalnum() and n.isalpha()

False

# list
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets []

In [42]:
type([])

list

In [43]:
lst=list()

In [44]:
type(lst)

list

In [45]:
lst=['apple','ball','cat',45,35]

In [46]:
len(lst)

5

In [47]:
lst.append('Dog')

In [48]:
lst

['apple', 'ball', 'cat', 45, 35, 'Dog']

In [49]:
lst.append(['elephant','fish'])

In [50]:
lst

['apple', 'ball', 'cat', 45, 35, 'Dog', ['elephant', 'fish']]

In [51]:
lst[4]

35

In [52]:
lst[:]

['apple', 'ball', 'cat', 45, 35, 'Dog', ['elephant', 'fish']]

In [53]:
lst[3:6]

[45, 35, 'Dog']

In [54]:
lst[3:4]

[45]

In [71]:
d=lst.pop(3)#takes an index as an argument

In [72]:
lst

['apple', 'ball', 'cat']

In [73]:
d

['elephant', 'fish']

In [76]:
lst.remove('apple')#takes an value as argument

In [77]:
d

['elephant', 'fish']

## insert

In [79]:
lst

['ball', 'cat']

In [80]:
lst.insert(1,'apple')

In [81]:
lst

['ball', 'apple', 'cat']

## extend

In [82]:
lst

['ball', 'apple', 'cat']

In [83]:
lst.append(['dog','elephant'])

In [84]:
lst

['ball', 'apple', 'cat', ['dog', 'elephant']]

In [90]:
lst.extend(['fish','hen'])

In [86]:
lst

['ball', 'apple', 'cat', ['dog', 'elephant'], 'fish', 'hen']

In [87]:
lst.insert(4,['box','fan'])

In [88]:
lst

['ball', 'apple', 'cat', ['dog', 'elephant'], ['box', 'fan'], 'fish', 'hen']

## count()

In [91]:
ls=[1,3,4,5,3,2,2,2,1]

In [93]:
len(ls)

9

In [94]:
ls.count(2)

3

In [98]:
ls.index(4)

2

In [99]:
ls.index(1)

0

In [101]:
ls.index(1,2,len(ls))# index(): Returns the index of first occurrence. Start and End index are not necessary parameters

8

In [102]:
min(ls)

1

In [103]:
max(ls)

5

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [107]:
a=set()
print(type(a))

<class 'set'>

In [108]:
s={1,2,3,4,3,2}

In [109]:
s

{1, 2, 3, 4}

In [116]:
s[0]
#set have no indexing

TypeError: 'set' object is not subscriptable

In [135]:
series={'got','money heist','breaking bad'}

In [136]:
series

{'breaking bad', 'got', 'money heist'}

In [137]:
series.add("stranger things")

In [138]:
series

{'breaking bad', 'got', 'money heist', 'stranger things'}

In [139]:
print(series)

{'breaking bad', 'got', 'money heist', 'stranger things'}

In [140]:
ser2={'silicon valley','prison break','viking','got'}

In [141]:
series

{'breaking bad', 'got', 'money heist', 'stranger things'}

In [142]:
series.difference(ser2)

{'breaking bad', 'money heist', 'stranger things'}

In [143]:
series

{'breaking bad', 'got', 'money heist', 'stranger things'}

In [144]:
series.difference_update(ser2)

In [145]:
series

{'breaking bad', 'money heist', 'stranger things'}

In [146]:
series.union(ser2)

{'breaking bad',
 'got',
 'money heist',
 'prison break',
 'silicon valley',
 'stranger things',
 'viking'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [147]:
dic=dict()

In [148]:
type(dic)

dict

In [149]:
series={'got':'john snow','money heist':'professor','breaking bad':'walter white'}

In [150]:
series['money heist']

'professor'

In [151]:
for x in series:
    print(x)

got
money heist
breaking bad

In [153]:
for y in series.values():
    print(y)

john snow
professor
walter white

In [154]:
for z in series.keys():
    print(z)

got
money heist
breaking bad

In [155]:
for x in series.items():
    print(x)

('got', 'john snow')
('money heist', 'professor')
('breaking bad', 'walter white')

In [156]:
for x,y in series.items():
    print(f'series name:{x} and main character:{y}')

series name:got and main character:john snow
series name:money heist and main character:professor
series name:breaking bad and main character:walter white

In [157]:
series['silicon valley']='richard'

In [158]:
series

{'got': 'john snow',
 'money heist': 'professor',
 'breaking bad': 'walter white',
 'silicon valley': 'richard'}

## nested dictionary

In [160]:
car1={'mercedes benz':1982}
car2={'tesla':2020}
car3={'range rover':2021}
cars={'1st':car1,'2nd':car2,'3rd':car3}

In [161]:
cars

{'1st': {'mercedes benz': 1982},
 '2nd': {'tesla': 2020},
 '3rd': {'range rover': 2021}}

In [162]:
cars['2nd']

{'tesla': 2020}

In [163]:
cars['2nd']['tesla']

2020

# tuple

In [164]:
#indexed ,immutable but can be replace the whole tuple by another new tuple

In [165]:
a=tuple()
type(a)

tuple

In [168]:
a=('bishal','shrestha',19,19)

In [169]:
a

('bishal', 'shrestha', 19, 19)

In [171]:
a.count(19)

2

In [172]:
a.index('shrestha')

1

In [173]:
a=('bipin')

In [174]:
a

'bipin'